@model IEnumerable<burgerBurger.Models.InventoryOutline>

@{
    ViewData["Title"] = "Items";
}

<h1 class="text-white">Items</h1>

<p>
    <a asp-action="Create" class="text-white">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemDescription)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.calories)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemShelfLife)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemCost)
            </th>
            <th class="text-white"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.itemDescription)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.calories)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.itemShelfLife)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.itemCost)
            </td>
            <td class="text-white">
                <a asp-action="Edit" asp-route-id="@item.InventoryOutlineId" class="text-white">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryOutlineId" class="text-white">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryOutlineId" class="text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
