@model IEnumerable<burgerBurger.Models.BalanceAddition>

@{
    ViewData["Title"] = "Balance";
}

<h1 class="text-white">You're balance is currently $@ViewBag.Funds</h1>

<p>
    <a asp-action="Create" class="text-white">Add Funds</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Balance)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-white">
                    @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Balance)
            </td>
        </tr>
}
    </tbody>
</table>
