@model IEnumerable<burgerBurger.Models.Inventory>

@{
    ViewData["Title"] = "Balance Sheet";
    decimal liability = 0;
    decimal equity = 0;
    decimal total = 0;

    foreach (var order in ViewBag.Orders)
    {
        var typedOrder = (Order)order;
        equity += typedOrder.OrderTotal;
    }

    foreach (var item in Model)
    {
        liability += item.itemCost;
    }

    total = equity - liability;
}

<h1 class="text-white">Balance Sheet</h1>

<h2 class="text-white">Equities</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                Order Date
            </th>
            <th class="text-white">
                Order Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in ViewBag.Orders)
        {
            var typedOrder = (Order)order;
            <tr>
                <td class="text-white">
                    @typedOrder.OrderDate
                </td>
                <td class="text-white">
                    @typedOrder.OrderTotal
                </td>
            </tr>           
        }   
        <tr>
            <td class="text-white">
                @String.Format("Total Item Equities: {0:c}", equity)
            </td>
        </tr>
    </tbody>
</table>

<h2 class="text-white">Liabilities</h2>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemName)
            </th>          
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemCost)
            </th>         
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemDeliveryDate)
            </th>         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.itemCost)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.itemDeliveryDate)
                </td>
            </tr>
        }
        <tr>
            <td class="text-white">
                @String.Format("Total Item Liabilities: {0:c}", liability)
            </td>
        </tr>   
    </tbody>
</table>

<h3 class="text-white">
    @String.Format("Total Profit: {0:c}", total)
</h3>
<button class="btn btn-primary">
    <a asp-action="Index" asp-route-locationId="@ViewData["locationId"]" class="btn btn-primary">Back</a>
</button>