@model IEnumerable<burgerBurger.Models.Inventory>

@{
    ViewData["Title"] = "Garbage";
}

<h1 class="text-white">Garbage</h1>


<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemName)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemExpirey)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.itemDeliveryDate)
            </th>
            <th class="text-white"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.itemName)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.itemExpirey)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.itemDeliveryDate)
                </td>
                <td class="text-white">
                    <a asp-action="UndoThrowOut" asp-route-id="@item.InventoryId" class="text-white">Undo</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="3" class="text-left">
                <a asp-action="Index" asp-route-locationId="@ViewData["locationId"]" class="btn btn-primary">Back</a>
            </td>
        </tr>
    </tbody>
</table>
