@model burgerBurger.Models.StaticItem

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.discountPercentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.discountPercentage)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.totalCalories)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.totalCalories)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>
        <dd class="col-sm-10">
@foreach (var item in Model.Ingredients) {
    if (item == Model.Ingredients.ElementAt(Model.Ingredients.Count - 1)){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
        </tr>
    }
    else {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemName), 
            </td>
        </tr>
    }
}
            @if(Model.Ingredients.Count == 0)
            {
                <tr>
                    <td>
                        N/A
                    </td>
                </tr>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class="col-sm-10">
            @if(Model.Photo != null)
            {
                <img src="~/img/staticItems/@Html.DisplayFor(model => model.Photo)" alt="@Html.DisplayFor(model => model.Name) Image" class="image" />
            }
            else
            {
                <img src="~/img/staticItems/placeholder.png" alt="@Html.DisplayFor(model => model.Name) Image" class="image" />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
