@using burgerBurger.Enums
@model burgerBurger.Models.StaticItem

@{
    ViewData["Title"] = "Edit";
    List<int> itemIngredients = new List<int>();
    foreach (var ing in ViewBag.ItemIngredients)
    {
        var ing2 = (ItemInventory)ing;
        itemIngredients.Add(ing2.IngredientId);
    }
}

<h1>Edit</h1>

<h4>Menu Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<StaticItemType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discountPercentage" class="control-label"></label>
                <select asp-for="discountPercentage" class="form-control">
                    <option value="0">No Promotion</option>
                    <option value="0.1">10%</option>
                    <option value="0.2">20%</option>
                    <option value="0.25">25%</option>
                    <option value="0.3">30%</option>
                    <option value="0.4">40%</option>
                    <option value="0.5">50%</option>
                    <option value="1">Buy 1 get 1 free</option>
                </select>
                <span asp-validation-for="discountPercentage" class="text-danger"></span>
            </div>
            <div id="ingredients" class="form-group">
                <label class="control-label">Ingredients</label>
                <br />
                @foreach (var ingredient in ViewBag.Ingredients)
                {
                    var ing = (InventoryOutline)ingredient;
                    if (itemIngredients.Contains(@ing.InventoryOutlineId))
                    {
                        <input type="checkbox" id="@ing.InventoryOutlineId" name="ing" value="@ing.InventoryOutlineId" checked onchange="populateIngredients()" />
                    }
                    else
                    {
                        <input type="checkbox" id="@ing.InventoryOutlineId" name="ing" value="@ing.InventoryOutlineId" onchange="populateIngredients()" />
                    }
                    <label for="@ing.InventoryOutlineId">@ing.itemName</label>
                }
            </div>
            <input type="hidden" asp-for="Ingredients" id="ingredientsInput" />
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" type="file" />
                <span asp-validation-for="Photo" class="text-danger"></span>
                @if (Model.Photo != null)
                {
                    <img src="~/img/staticItems/@Model.Photo" alt="Product Photo" class="image" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" onclick="populateIngredients()" />
            </div>
            <input type="hidden" name="CurrentPhoto" value="@Model.Photo" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" onload="populateIngredients()">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
