@model burgerBurger.Models.CustomItem

@{
    ViewData["Title"] = "Create";
    string result = Context.Request.Query["result"];
}

<h1>Create</h1>

@if (result == "error")
{
    <div class="alert alert-danger">
        <p>There was a problem with the creation process. Please try again.</p>
    </div>
}

<h4>CustomItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="ingredients" class="form-group">
                <fieldset id="bread">
                    <label class="control-label">Buns</label>
                    <br />
                    @foreach (var bread in ViewBag.Breads)
                    {
                        var ing = (InventoryOutline)bread;
                        <input name="bread" type="radio" id="@ing.InventoryOutlineId" name="ing" value="@ing.InventoryOutlineId" onchange="populateIngredientsCustom();showMeat()" />
                        <label for="@ing.InventoryOutlineId">@ing.itemName</label>
                    }
                </fieldset>
                <fieldset id="meat" class="d-none">
                    <label class="control-label">Meat</label>
                    <br />
                    @foreach (var meat in ViewBag.Meats)
                    {
                        var ing = (InventoryOutline)meat;
                        <input name="meat" type="radio" id="@ing.InventoryOutlineId" name="ing" value="@ing.InventoryOutlineId" onchange="populateIngredientsCustom();showOtherIngredients()" />
                        <label for="@ing.InventoryOutlineId">@ing.itemName</label>
                    }
                </fieldset>
                <fieldset id="toppings" class="d-none">
                    <label class="control-label">Toppings</label>
                    <br />
                    @foreach (var topping in ViewBag.Toppings)
                    {
                        var ing = (InventoryOutline)topping;
                        <input name="toppings" type="checkbox" id="@ing.InventoryOutlineId" name="ing" value="@ing.InventoryOutlineId" onchange="populateIngredientsCustom()" />
                        <label for="@ing.InventoryOutlineId">@ing.itemName</label>
                    }
                </fieldset>
                <fieldset id="condiments" class="d-none">
                    <label class="control-label">Condiments</label>
                    <br />
                    @foreach (var condiment in ViewBag.Condiments)
                    {
                        var ing = (InventoryOutline)condiment;
                        <input name="condiments" type="checkbox" id="@ing.InventoryOutlineId" name="ing" value="@ing.InventoryOutlineId" onchange="populateIngredientsCustom()" />
                        <label for="@ing.InventoryOutlineId">@ing.itemName</label>
                    }
                </fieldset>
            </div>
            <input type="hidden" asp-for="Ingredients" id="ingredientsInput" />
            <div class="form-group d-none" id="submitCustom">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
