@model IEnumerable<CustomItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalCalories)
            </th>
            <th></th>
            <th>Purchase</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalCalories)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                <form method="post" asp-controller="Shop" asp-action="AddToCart" style="display: flex;align-items: center;">
                    @Html.AntiForgeryToken()
                    <fieldset>
                        <label for="Quantity">Quantity: </label>
                        <input name="Quantity" required type="number" min="1" max="999" class="small-input" />
                    </fieldset>
                    <input name="ItemId" type="hidden" value="@item.Id" />
                    <button class="btn btn-primary m-3">Add to Cart</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
