@model IEnumerable<burgerBurger.Models.Location>

@{
    ViewData["Title"] = "Location";
}

<h1>Locations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Store Location
            </th>
            <th>
                Inventory
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.locationCity) @Html.DisplayFor(modelItem => item.locationProvince) @Html.DisplayFor(modelItem => item.locationAddress)
            </td>
            <td>
                    <a asp-controller="Inventories" asp-action="Index" asp-route-locationId="@item.LocationId">View</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
