@using burgerBurger.Data
@using Microsoft.AspNetCore.Identity
@model IEnumerable<burgerBurger.Models.Order>
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "Order History";
}

<h1 class="text-white">Orders</h1>

<table class="table">
    <thead>
        <tr>
            @if (!User.IsInRole("Customer"))
            {
                <th class="text-white">
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
            }
            <th class="text-white">
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th class="text-white"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (!User.IsInRole("Customer"))
                {
                    <td class="text-white">
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                }
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="text-white">
                    <a asp-action="Details" asp-route-id="@item.OrderId" class="text-white">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
