@model IEnumerable<burgerBurger.Models.Order>

@{
    ViewData["Title"] = "Order History";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            @if (!User.IsInRole("Customer"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (!User.IsInRole("Customer"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
